[Unit]
Description=h-ui Service
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/h-ui/
ExecStart=/usr/local/h-ui/h-ui

[Install]
WantedBy=multi-user.target